{
    "token": "secret",
    "owners": ["you", "and", "your", "friends"],
    "guildID": "some numbers",

    "kitchenid": "some numbers",

    "database": {
        "host": "127.0.0.1",
        "port": 3306,
        "user": "sandwich",
        "password": "secret",
        "database": "sandwich"
    }
}
